<!DOCTYPE html>
<html>
  <head>
    <title>SIGN UP</title>
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"
    />
    <style>
      body {
        padding-top: 80px;
      }
      .form-control:focus {
        border-color: #28a745;
        box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="col-sm-6 col-sm-offset-3">
        <h1><span class="fa fa-sign-in"></span> Add new item</h1>

        <form action="/admin/add-item" method="post">
          <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" name="title" required />
          </div>
          <div class="form-group">
            <label>Description</label>
            <input type="text" class="form-control" name="description" />
          </div>
          <div class="form-group">
            <label>Image URL</label>
            <input type="text" class="form-control" name="image" required />
          </div>
          <div class="form-group">
            <label>Price</label>
            <input type="number" class="form-control" name="price" required />
          </div>
          <div class="form-group">
            <label>Amount</label>
            <input
              type="number"
              class="form-control"
              name="availableCount"
              required
            />
          </div>

          <button type="submit" class="btn btn-success btn-lg">Add Item</button>
        </form>

        <hr />
      </div>
    </div>
  </body>
</html>
